    <%- include('partials/log') %>


<div class="box">
    <h1>Login</h1>
    <% if (typeof err !== 'undefined' ) { %>
        <span style="color: red;"><%= err %></span>
    
    <% } %>
    <% if ( typeof mess !== 'undefined') { %>
        <span style="color: green;"><%= mess %></span>
    <% } %>
    <form action="/student" method="POST">
        <input placeholder="Email" name="email" type="email" required />
        <a href="/verifyemail">Forgot Password ?</a>
        <input placeholder="Password" name="password" type="password" required />
        <a href="/register">Signup</a>
        <button>Login</button>
    </form>
</div>

