    <%- include('partials/log')%>

<body>
        
    <div class="box">
        <h1>Reset Password</h1>
        <form action="/login" method="POST">
            <label for="password">New Password</label>
            <input  id="password" type="password" name="password" placeholder="New password" required>
            <% if (err) { %>
                <span style="color: red;"><%= err %></span>
            <% } %>
            <label for="conform_password">Confirm Password</label>
            <input  id="conform_password" type="password" name="conform" placeholder="Confirm password" required>
            <button>Reset Password</button>
            <a href="/login">Back to Login</a>
        </form>
    </div>
</body>